<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
    <div class="jumbotron">
        <div class="container">
            <h1>WELCOME TO CORE BANKING</h1>
            <h2>Bank Rules</h2>
            <ul>
                <li>Term-1:You should login one Time Per week</li>
                <li>Term-2:You should login one Time Per Month</li>
            </ul>
        </div>
    </div>

    {% if user.is_authenticated %}
<h1 style="color:blue">Hello {{ user.username }} ! </h1>
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<p> You are not logged in </p>
<a href="{% url 'login' %}">login</a>
{% endif  %}
{% endblock %}