<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Template</title>
    <style type="text/css">
        .block{
        border:1px solid green;
        height:40%;
        width:30%;
        margin-top:10%;
        margin-left:30%;
        padding:10px;
        }
        .block:hover{
        border-shadow:5px 4px 10px green;
        }

    </style>
</head>
<body >
<div class="block">
    <div class="header">
        <h1 style="color:red;font-size:30px;">LOGIN PAGE</h1>
    </div>
    <div class="login_pg">
        USERNAME :<input type="text" min="4" max="10" placeholder="enter username" required><br/><br/>
        PASSWORD :<input type="password" min="4" max="8" placeholder="enter pwd" required><br/><br/>
        <input type="button" value="submit" class="btn"><br/><br/>
    </div>
</div>
</body>
</html>