<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
</head>
<body>
 <h1>Hello</h1>
<img src="{% static 'images/student1.png' %}" alt="SorryNoImage">
<img src="{% static 'images/student2.png' %}" alt="SorryNoImage">
<img src="{% static 'images/student3.png' %}" alt="SorryNoImage">
<div> {{dt}}</div>
<div>{{name}}</div>
<div>{{daywish}}</div>
</body>
</html>