<!DOCTYPE html>
{% load staticfiles %}
<!-- code by webdevtrick (https://webdevtrick.com) -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  </head>
  <body>

    <div class="card middle">
      <div class="front">
        <img src="sample.jpg" alt="">
      </div>
      <div class="back">
        <div class="back-content middle">
          <h2>WebDevTrick</h2>
          <span>Designer &amp; Developers Blog</span>
          <div class="sm">
            <a href="../images/bird1.jpg"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>